@media(min-width: 280px),(max-width: 570px) {
   
@font-face {
    font-family: Roboto;
    src: url('./font/Robot/Roboto-Regular.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto;
}

.container {
    width:100%;
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input {
    border: 0;
    outline: 0;
    width: 34.78px;
    height: 34.7px;
    border-radius: 10px;
    background: transparent;
    font-size: 11px;
    margin: 10px;
    color: #fff;
    cursor: pointer;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);

}


form .display {
    border-radius: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    /* display: flex;
    justify-content: flex-end; */
    margin: 20px 0;
}

form .display input {
    background: #e3f9ff;
    text-align: right;
    flex: 1;
    color: #000;
    /* font-size: 20px; */
    padding: 8px;
    box-shadow: none;
}

form input.equal {
    width: 85px;
}


/* form input.operator {
    color: #33ffd8;
} */

}